{% extends('CoreBundle::layout.html.twig') %}

{% block body %}

    <h1>DC3</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre del trabajor</th>
            <th scope="col">Estación</th>
            <th scope="col">Curso</th>
            <th scope="col">Descarga</th>


        </tr>
        </thead>
        <tbody>
        {% for e in em  %}
        {% for es in est %}

        <tr>
            <td>{{ e.nombre }}</td>

            <td>{{ es.rSocial }}</td>

            <td>
                <form action="" method="post" name="curso">
                <select class="form-control" id="curso" name="curso">
                    {% for c in curso %}
                        <option value="{{ c.id }}">{{ c.nombre }}</option>
                    {% endfor %}

                </select>
                </form>
            </td>

            <td>
                <a class="btn btn-default btn-cons m-t-10" href="{{ path('doc') }}" role="button"><i class="fa fa-download"></i> Descargar </a>
            </td>

        </tr>
        {% endfor  %}
        {% endfor %}

        </tbody>
    </table>
</div><!-- col-lg-12 -->
</div>


{% endblock %}